openapi: 3.1.0
info:
  title: Easyship Addresses API
  description: 'REST API for the Easyship multi-courier shipping platform. Covers rates,

    shipments, labels, addresses, pickups, trackings, products, boxes,

    manifests, webhooks and insurance. Authentication is OAuth 2.0 Bearer

    tokens. This specification is a best-effort, documentation-derived

    description and may omit fields.

    '
  version: 2024-09
  contact:
    name: Easyship
    url: https://developers.easyship.com/
servers:
- url: https://api.easyship.com/2024-09
  description: Production
- url: https://api-sandbox.easyship.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Addresses
paths:
  /addresses:
    post:
      summary: Create an address
      operationId: createAddress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
      responses:
        '201':
          description: Created
      tags:
      - Addresses
    get:
      summary: List addresses
      operationId: listAddresses
      responses:
        '200':
          description: Addresses
          content:
            application/json:
              schema:
                type: object
                properties:
                  addresses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Address'
      tags:
      - Addresses
  /addresses/{id}:
    parameters:
    - $ref: '#/components/parameters/IdPath'
    get:
      summary: Show an address
      operationId: getAddress
      responses:
        '200':
          description: Address
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
      tags:
      - Addresses
    patch:
      summary: Update an address
      operationId: updateAddress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Address'
      responses:
        '200':
          description: Updated
      tags:
      - Addresses
components:
  schemas:
    Address:
      type: object
      properties:
        id:
          type: string
        line_1:
          type: string
        line_2:
          type: string
        city:
          type: string
        state:
          type: string
        country_alpha2:
          type: string
        postal_code:
          type: string
        contact_name:
          type: string
        contact_phone:
          type: string
        contact_email:
          type: string
        company_name:
          type: string
  parameters:
    IdPath:
      in: path
      name: id
      required: true
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
